body{
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}

td{
  background-color: #d3fc8d;
  width:180px;
  height:180px;
  color: #fff;
  text-align:center;
  font-size:2em;
  border: 1px solid yellow;
  font-family: 'Open Sans', sans-serif;
}
table{
  width: 800px;
  margin:0 auto;
}